<div class="container">
<div class="col-xs-12">
	<h1>Edit</h1>

	<%= render 'form' %>

	<%= link_to 'Delete', @slide, method: :delete, data: { confirm: 'Are you sure?' } %>
	<%= link_to 'Cancel', @slide %>
</div>
</div><!-- .container -->